tensorflow>=2.8.1
tensorflow-probability==0.16.0
jax
jaxlib==0.3.0
scikit-learn==1.0.2
pandas==1.2.1
pytest==6.2.2
numpy~=1.26.1
kafka-python==2.0.2
python-dotenv==0.20.0
Pillow
tensorflow-hub
tensorflow-datasets
tweepy
tweety
matplotlib
setuptools~=68.2.2
torch~=2.2.0